*.pyc
cgi-bin/test-cgi
cgi-bin/printenv
*Resume*
*.docx
*.doc
ah.txt
*mp3
*mp4
*MP4
first.py
second.py
third.py
CT.docs
python_code.zip
notes.txt
python.txt
python.zip
thanvalai.html
jquery.*
*LICENSE.txt
AUTHORS.txt
version.txt
data/jscript/demos/*
data/jscript/docs/*
data/jscript/external/*
data/jscript/tests/*
data/jscript/themes/*
data/jscript/ui/*
data/static/*
cgi-data
error
icons
public
*/pycache/*
*.pyc
